<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<jmxConfigurator />

	<!-- Appenders -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<param name="Target" value="System.out" />
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="logToFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>web.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>D://workspace/cart/web_%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Root Logger -->
	<root level="info">
		<priority value="info" />
		<appender-ref ref="console" />
		<!-- <appender-ref ref="logToFile"/> -->
	</root>

</configuration>